* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: "Benguiate";
    src: url(fontes/Benguiat\ Bold.ttf);
}

body {
    background-color:#0C0102;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins",sans-serif;
}

button{
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.header{
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: 4vw;
    position: absolute;
    z-index: 9;
}

section{
    width: 100%;
    padding: 0 6vw 6vw 6vw;
    display: flex;
}

button{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    display: flex;
    gap:16px;
    border: none;
    outline:none;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);

}

.hero {
    background-image: url('assets/images/hero.webp');
    background-position:50% 0%; 
    background-size: cover;
    height: 100vh; 
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 6vw 6vw 6vw;

    .left {
        width:30%;

        h3{
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 4px;

        }

        h1{
            font-size: 3.7vw;
            font-family: "Benguiate", sans-serif;
        }
    }

    .right {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: end;

        p{
            font-size: 2vw;
            margin-bottom: 32px;
            text-align: end;
        }

    }
}

.section-city {
    flex-direction: column;

    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h2{
            font-size: 36px;
        }
    }

    .cards{
        margin-top: 52px;
        display: flex;
        justify-content: space-between;

        .card {
            background-image: url("assets/images/card1.webp");
            width: 32%;
            aspect-ratio: 16/9;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 20px;
        }

        .card:nth-child(2) {
            background-image: url("assets/images/card2.webp");
        }

        .card:nth-child(3) {
            background-image: url("assets/images/card3.webp");
        }
    }